:root {
  --green: #9dc08b;
  --red: #f38181;
  --yellow: #fce38a;
  --lime: #eaffd0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.bg {
  position: absolute;
  background-image: url("./assets/images/cards-bg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  height: 100vh;
  width: 100vw;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
